.block {
    display: block;
    margin: 0;
}

.field-error {
    color: red;
}

.form-control {
    margin-bottom: 10px;
    color: blue;
}

.form-control::placeholder {
    color: blue;
}

.form-control:-ms-input-placeholder {
    color: blue;
}

.form-control::-ms-input-placeholder {
    color: blue;
}

.model-inputs {
    border: 1px dotted #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(247, 207, 121);
}

.model-inputs-fields {
    background-color: rgb(183, 250, 197);
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}